APP_TITLE=Tabit
DESCRIPTION=Tabit - платформу для управления скоростью развития компаний

# Настройка БД
POSTGRES_USER=warlock # Имя пользователя в БД. Указывается в docker-compose.yaml и config.py
POSTGRES_PASSWORD=zTudS8LBSquBMwvS3ky5 # Пароль к БД. Указывается в docker-compose.yaml и config.py
POSTGRES_DB=tabit # Название БД. Указывается в docker-compose.yaml и config.py
PORT_BD_POSTGRES=5432 # Порт для подключения приложения к БД. Указывается в docker-compose.yaml и config.py
DB_TYPE=postgresql # Для url, по которому приложение будет обращаться к БД. Указывается в config.py
DB_API=asyncpg # Для url, по которому приложение будет обращаться к БД. Указывается в config.py
DB_HOST=localhost # Для url, по которому приложение будет обращаться к БД. Указывается в config.py
LOG_LEVEL=DEBUG # Уровень логирования. Возможны варианты: TRACE, DEBUG, INFO, SUCCESS, WARNING, ERROR, CRITICAL

FIRST_SUPERUSER_EMAIL=yandex@yandex.ru  # Почта суперпользователя. Нужно для автоматического создания суперпользователя.
FIRST_SUPERUSER_PASSWORD=password123  # Пароль суперпользователя. Нужно для автоматического создания суперпользователя.
FIRST_SUPERUSER_NAME=Ип  # Имя суперпользователя. Нужно для автоматического создания суперпользователя.
FIRST_SUPERUSER_SURNAME=Ман  # Фамилия суперпользователя. Нужно для автоматического создания суперпользователя.

# Настройка почтового сервиса.
MAIL_USERNAME=example@yandex.ru  # Имя пользователя для электронной почты, некоторые почтовые хосты отделяют имя пользователя от имени отправителя по умолчанию.
MAIL_PASSWORD=secretpassword  # Пароль для внешних приложений, нужно подключать в настройках своей почты.
MAIL_FROM=example@yandex.ru  # Почта отправителя сообщения.
MAIL_PORT=587  # Порт почтового сервера.
MAIL_SERVER=smtp.yandex.ru  # Почтовый сервер SMTP отправителя письма.
MAIL_FROM_NAME=Заголовок  # Заголовок для почты.
