##################################################################################################
# Приложение и общие настройки
##################################################################################################
APP_TITLE=Tabit
APP_DESCRIPTION=Tabit platform
APP_PORT=8000
# Отдавать загруженные файлы средства из бэкенда (НА СТАДИИ ОТЛАДКИ).
APP_SERVE_STATIC=True
APP_CONTAINER_NAME=tabit
# Название директории для сохранения загруженных файлов.
MEDIA_FOLDER=media
# URL-префикс для загруженных файлов.
MEDIA_URL=/media
MEDIA_VOLUME_NAME=media_data
PYTHON_VERSION=3.12
POETRY_VERSION=1.7.1
APP_VERSION=1

##################################################################################################
# БД
##################################################################################################
POSTGRES_VERSION=17.2-alpine
# Имя пользователя в БД.
POSTGRES_USER=tabit
# Пароль к БД.
POSTGRES_PASSWORD=zTudS8LBSquBMwvS3ky5
# Название БД.
POSTGRES_DB=tabit
DB_PORT=5432
# Для url, по которому приложение будет обращаться к БД.
DB_TYPE=postgresql
# Для url, по которому приложение будет обращаться к БД.
DB_API=asyncpg
DB_CONTAINER_NAME=postgres_local
DB_VOLUME_NAME=postgres_data
# Для url, по которому приложение будет обращаться к БД при локальном запуске приложения.
# При запуске приложения в контейнерах - будет перезаписана в разделе enviroment compose-файла.
DB_HOST=localhost
# Уровень логирования. Возможны варианты: TRACE, DEBUG, INFO, SUCCESS, WARNING, ERROR, CRITICAL.
LOG_LEVEL=DEBUG

##################################################################################################
# Тестовая БД
##################################################################################################
TEST_POSTGRES_USER=test_user
TEST_POSTGRES_PASSWORD=test_password
TEST_POSTGRES_DB=test_db
TEST_DB_PORT=54333
TEST_DB_VOLUME_NAME=postgres_data_test
TEST_DB_HOST=localhost
TEST_DB_CONTAINER_NAME=postgres_test

##################################################################################################
# Автоматическое создание 1-го суперпользователя
##################################################################################################
FIRST_SUPERUSER_EMAIL=yandex@yandex.ru
FIRST_SUPERUSER_PASSWORD=Password123
FIRST_SUPERUSER_NAME=Иван
FIRST_SUPERUSER_SURNAME=Иванов

##################################################################################################
# Почтовый сервис
##################################################################################################
# Имя пользователя для электронной почты.
# Некоторые почтовые хосты отделяют имя пользователя от имени отправителя по умолчанию.
MAIL_USERNAME=example@yandex.ru
# Пароль для внешних приложений, нужно подключать в настройках своей почты.
MAIL_PASSWORD=secretpassword
# Почта отправителя сообщения.
MAIL_FROM=example@yandex.ru
# Порт почтового сервера.
MAIL_PORT=587
# Почтовый сервер SMTP отправителя письма.
MAIL_SERVER=smtp.yandex.ru
# Заголовок для почты.
MAIL_FROM_NAME=Заголовок

##################################################################################################
# pgAdmin
##################################################################################################
PGADMIN_VERSION=8.14
PGADMIN_PORT=5600
PGADMIN_CONTAINER_NAME=pgadmin_local
PGADMIN_VOLUME_NAME=pgadmin_data
# Почта для 1-го пользователя PGAdmin.
PGADMIN_DEFAULT_EMAIL=admin@email.com
# Пароль для 1-го пользователя PGAdmin.
PGADMIN_DEFAULT_PASSWORD=admin
# Идентификатор сервера для Tabit.
PGADMIN_SERVER_ID_TABIT=1
# Название сервера для Tabit.
PGADMIN_SERVER_NAME_TABIT=Tabit Database
# Название сервера для Tabit.
PGADMIN_SERVER_GROUP_TABIT=Tabit Server Group
# Переменная для управления тем, как клиент или сервер будет обрабатывать SSL-соединения.
# В зависимости от требований к безопасности может принимать значения:
# disable, allow, prefer, require, verify-ca, verify-full
SSL_MODE=prefer


##################################################################################################
# Удаленный сервер
##################################################################################################
# Используемый репозиторий для хранения контейнера с приложением.
IMAGE_REGISTRY=ghcr.io
# Путь c именем Docker-образа приложения в репозитории контейнеров.
IMAGE_PATH=studio-yandex-practicum/tabit
# Имя пользователя на сервере для формирования путей.
SERVER_USERNAME=dev_deploy
