[Unit]
Description=Tabit Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker pull ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:latest
ExecStart=/usr/bin/docker compose -f /home/${{ secrets.SERVER_USERNAME }}/tabit/infra/stage/docker-compose.stage.yaml up -d
ExecStop=/usr/bin/docker compose -f /home/${{ secrets.SERVER_USERNAME }}/tabit/infra/stage/docker-compose.stage.yaml down
WorkingDirectory=/home/${{ secrets.SERVER_USERNAME }}/tabit/infra/stage/
User=${{ secrets.SERVER_USERNAME }}
Group=${{ secrets.SERVER_USERNAME }}

[Install]
WantedBy=multi-user.target
